# This is my first training notebook

This is to try Python commands

## 1st Notebook

In [32]:
20+20

40

In [33]:
print("Today is a new day")

Today is a new day

In [34]:
name = "Mohnish"
age = 37
email = "mohnish.bhagde@gmail.com"

In [35]:
print (name,age,email)

Mohnish 37 mohnish.bhagde@gmail.com

In [2]:
name = input("your name here")

your name hereMohnish Bhagde

In [36]:
print ('hello')
print ('goodbye')
print ('whatever')

hello
goodbye
whatever

In [9]:
10+10
20+20 # I am in edit mode

40

In [37]:
x=100

y=x+1
print (y)

101

In [10]:
x=100

In [45]:
10+10
20+20 # I am in edit mode

40

In [48]:
y=x+1
print (y)
print (y+1)

101
102

In [40]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\mohni\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: numpy>=1.16.5 in c:\users\mohni\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\mohni\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\mohni\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\mohni\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [14]:
!pip install NumPy

Requirement already satisfied: NumPy in c:\users\mohni\anaconda3\lib\site-packages (1.20.1)

In [52]:
# Inspect the type of variable
a=3
print ('a is of type', type(a), 'and its value is', a)
b=2.1
print ('b is of type', type(b), 'and its value is', b)
c=b/a
print ('c is of type', type(b), 'and its value is', c)
print ('a is of type', type(a), 'and its value is', a)
print ('b is of type', type(b), 'and its value is', b)

a is of type <class 'int'> and its value is 3
b is of type <class 'float'> and its value is 2.1
c is of type <class 'float'> and its value is 0.7000000000000001
a is of type <class 'int'> and its value is 3
b is of type <class 'float'> and its value is 2.1

# 4 main types of collection of variables
1. List
2. Tuple
3. Set
4. Dictionary

In [57]:
sample_list=['dan',1,3,4,'python',2]
print (sample_list)
print (sample_list[0]) # index list starts with 0
print (len(sample_list))

['dan', 1, 3, 4, 'python', 2]
dan
6

In [79]:
sample_list[3]=32
sample_list.append('to the end')
print(sample_list)
sample_list.pop(2)
print(sample_list)
print (len(sample_list))
print (sample_list[2:5])

['dan', 'sam', 32, 32, 2, 'to the end', 'to the end', 'to the end']
['dan', 'sam', 32, 2, 'to the end', 'to the end', 'to the end']
7
[32, 2, 'to the end']

In [63]:
sample_list[1]=['x','y']
print(sample_list)
print(sample_list[1])

['dan', ['x', 'y'], 32, 'python', 2, 'to the end', 'to the end']
['x', 'y']

In [68]:
new_list=sample_list
print (new_list)
print (sample_list)
new_list[1] = 'sam'
print ('new_list is: ',new_list)
print ('sameple_list is: ',sample_list)

# Change in the new variable are replicated to original variable

# to prevent use .copy() function

new_list1 = sample_list.copy()
print (new_list1)
print (sample_list)
new_list1[1] = 'van'
print ('new_list1 is: ',new_list1)
print ('sameple_list is: ',sample_list)

['dan', 'sam', 32, 'python', 2, 'to the end', 'to the end']
['dan', 'sam', 32, 'python', 2, 'to the end', 'to the end']
new_list is:  ['dan', 'sam', 32, 'python', 2, 'to the end', 'to the end']
sameple_list is:  ['dan', 'sam', 32, 'python', 2, 'to the end', 'to the end']
['dan', 'sam', 32, 'python', 2, 'to the end', 'to the end']
['dan', 'sam', 32, 'python', 2, 'to the end', 'to the end']
new_list1 is:  ['dan', 'van', 32, 'python', 2, 'to the end', 'to the end']
sameple_list is:  ['dan', 'sam', 32, 'python', 2, 'to the end', 'to the end']

In [72]:
# Tuple - nonchangeable and indexed

simple_tuple = [12,'ban',3,5,'xxx']
print (simple_tuple)

[12, 'ban', 3, 5, 'xxx']

In [74]:
# Set unordered collection of values that are changeable ..there is no order and does not allow duplicates
simple_set = {11,2,'water',-2}
print(simple_set)

{'water', 2, 11, -2}

In [76]:
print(simple_set[1]) # will not work

TypeError: 'set' object is not subscriptable

In [78]:
# Distionary .. indexed and changeable with key:value pair

simple_dic = {1:'apple', 2:'samsung', 3:'nokia'}
print (simple_dic)
print ('I brought phone of brand', simple_dic[1])

{1: 'apple', 2: 'samsung', 3: 'nokia'}
I brought phone of brand apple

In [82]:
# Loops - For and while

counter = 0
list = [1,3,4,5,12,14,54,6575,23,235,6]
for i in list:
    print ('i :',i)
    counter = counter + 1
    print ('counter is :', counter)
print ('the loop cycled to :', counter, 'times')

i : 1
counter is : 1
i : 3
counter is : 2
i : 4
counter is : 3
i : 5
counter is : 4
i : 12
counter is : 5
i : 14
counter is : 6
i : 54
counter is : 7
i : 6575
counter is : 8
i : 23
counter is : 9
i : 235
counter is : 10
i : 6
counter is : 11
the loop cycled to : 11 times

In [84]:
print (range(4))

range(0, 4)

In [90]:
for i in range (4):
    print ('i', i)
    
for j in range (4,10):
    print ('j', j)

i 0
i 1
i 2
i 3
j 4
j 5
j 6
j 7
j 8
j 9

In [91]:
i = 4
while i < 10:
    print (i)
    i=i+1
print ('outside of loop')

4
5
6
7
8
9
outside of loop

In [95]:
# Conditional statement - if, else, and elif

i = 15
if i<10:
    print (i, 'is less than 10')
elif i<20:
    print (i, 'is less than 20')
else:
    print (i,'is greater than 10 and 20')

15 is less than 20

In [96]:
# User Defined Function - defined functions and Lambda functions (inline functions)
def squareroot (x):
    y=x*x
    z=y+7
    return (z)

a = squareroot (5)
print (a)

32

In [97]:
x2p7v2 = lambda x: x*x+7
print (x2p7v2(5))

32

In [7]:
#OOP example
class my_data_type: #class
    def init_some_values (self, val2): # method
        self.first_var = 2.0 # attribute
        self.second_var = val2
        return self.second_var
    def multiply_vals(self):
        return self.first_var*self.second_var
    
me = my_data_type() # object and initializer
me.init_some_values(2.0)
print (me.init_some_values(2.0))
print (me.multiply_vals()) # run a method

2.0
4.0

In [8]:
import os

In [10]:
print(os.name)

nt

In [15]:
print (os.getcwd())
print (os.curdir)

C:\Users\mohni\Python Tutorials
.

In [22]:
x=5
y=7
z=9

a = (x**y) + (y/z) + (x-y) +(z-y) - (y*x)
print (a)

c= {
"fruit:", "Apple",
"vegetable:", "Tomato",
"flower:", "Rose"
}
print (c)
5 == (3 + 2)

78090.77777777778
{'Tomato', 'flower:', 'vegetable:', 'Apple', 'fruit:', 'Rose'}

True

In [30]:
a = 3
print(a + (33))
print (type(a))
print (float(a))
a = 10 # assign variable a to literal 10
print('Five times a is', 5*a)

area = 0.5 ** 10 * 5
print("Area of triangle:", area)

v = 10
w = 25
x = 70
y = 2
z = (v + w) * (x / y)
print (z)

36
<class 'int'>
3.0
Five times a is 50
Area of triangle: 0.0048828125
1225.0

In [32]:
a = 10 
b = 5
print("A and B before swapping {},{}".format(a,b))
temp = a #create a third variable and assign the value of a to it
a = b
b = temp #value of a is in third variable so assign the value to b
print("A and B after swapping {},{}".format(a,b))

A and B before swapping 10,5
A and B after swapping 5,10

In [56]:
repeated_list = [2] * 4
print(repeated_list)

l = ["apple","orange","grapes","watermelon"]
print(l[1])
l[0] = "strawberries"
print(l)

l = ['a','b','c']

for i in l:
 print(i)

number = [1, 12, 24, 36, 11, 20,50]
for i in number:
 sq = i * i
 print(sq)

[2, 2, 2, 2]
orange
['strawberries', 'orange', 'grapes', 'watermelon']
a
b
c
1
144
576
1296
121
400
2500

In [67]:
l = ['white','red', 'blue', 'green','blue','yellow', 'black']
l.pop(5)
print (len(l))
car = { "brand" : "Audi","model" : "Q2", "year" : 1980}
print(car["brand"])

6
Audi

In [80]:
for i in range(-10, 0, 1):
 print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [82]:
n = 10
i = 1
while i <= n:
 print(i)
 i=i+1

1
2
3
4
5
6
7
8
9
10

In [84]:
for i in range(1, 21):
    if i % 2 == 0:
     print(i)

2
4
6
8
10
12
14
16
18
20

In [87]:
n = 5
i = 1
while i <= 10:
 print("{} * {} =".format(n, i), n*i)
 i = i + 1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [88]:
n = 8
for i in range(1, 11):
 print("{} ^ {} =".format(n, i), n**i)

8 ^ 1 = 8
8 ^ 2 = 64
8 ^ 3 = 512
8 ^ 4 = 4096
8 ^ 5 = 32768
8 ^ 6 = 262144
8 ^ 7 = 2097152
8 ^ 8 = 16777216
8 ^ 9 = 134217728
8 ^ 10 = 1073741824

In [95]:
for i in range(1, 100):
 if(i % 3 == 0 and i % 5 == 0):
     print("FizzBuzz", i)
 elif (i % 3 == 0):
     print("Fizz", i)
 elif(i % 5 == 0):
     print("Buzz", i)
 else: 
     print(i)

1
2
Fizz 3
4
Buzz 5
Fizz 6
7
8
Fizz 9
Buzz 10
11
Fizz 12
13
14
FizzBuzz 15
16
17
Fizz 18
19
Buzz 20
Fizz 21
22
23
Fizz 24
Buzz 25
26
Fizz 27
28
29
FizzBuzz 30
31
32
Fizz 33
34
Buzz 35
Fizz 36
37
38
Fizz 39
Buzz 40
41
Fizz 42
43
44
FizzBuzz 45
46
47
Fizz 48
49
Buzz 50
Fizz 51
52
53
Fizz 54
Buzz 55
56
Fizz 57
58
59
FizzBuzz 60
61
62
Fizz 63
64
Buzz 65
Fizz 66
67
68
Fizz 69
Buzz 70
71
Fizz 72
73
74
FizzBuzz 75
76
77
Fizz 78
79
Buzz 80
Fizz 81
82
83
Fizz 84
Buzz 85
86
Fizz 87
88
89
FizzBuzz 90
91
92
Fizz 93
94
Buzz 95
Fizz 96
97
98
Fizz 99

In [98]:
for i in range(202, 321):
 if i % 7 == 0 and i % 5 != 0:
     print(i)

203
217
224
231
238
252
259
266
273
287
294
301
308

In [100]:
a = "Data Science"
for i in range(0, 5):
 print(a)

Data Science
Data Science
Data Science
Data Science
Data Science

In [102]:
a = 56
if a == 10:
 print("Hello")
else:
 print("Good Bye")

Good Bye

In [104]:
a = 2020
if a % 2 == 0:
 print("Number is Even")
else:
 print("Number is Odd")

Number is Even

In [105]:
length = 5
breadth = 10
# find the area and perimeter of the rectangle
Area = length * breadth 
Perimeter = 2 * (length + breadth)
# check whether the area of the rectangle is greater than the perimeter of the rectangle
if Area > Perimeter:
 print("Area of the rectangle is greater than the Perimeter of the rectangle")
else:
 print("Perimeter of the rectangle is greater than the Area of the rectangle")

Area of the rectangle is greater than the Perimeter of the rectangle

In [108]:
marks_sub1 = 72
marks_sub2 = 85
marks_sub3 = 96
marks_sub4 = 42
marks_sub5 = 95
avg = (marks_sub1 + marks_sub2 + marks_sub3 + marks_sub4 + marks_sub5) / 5
print("Average=", avg)
if avg>90:
 print("Grade A")
elif avg>80:
 print("Grade B")
elif avg>70:
 print("Grade C")
elif avg>60:
 print("Grade D")
elif avg>50:
 print("Grade E")
else:
 print("Fail")

Average= 78.0
Grade C

In [112]:
def mths(a, b):
 print(a + b)
 print(a - b)
 print(a * b)
 print(a // b)
 
mths(9, 5)

14
4
45
1

In [114]:
def sq():
 for i in range(1, 11):
     print(i ^ 2)

In [116]:
def power(a, b):
 return a ** b
power(7,2)

49

In [117]:
def sq(base, height):
 return 0.5 * base * height
sq(5, 10)

25.0

In [118]:
def greet(country):
 print("I am from", country)
greet("Sweden")

I am from Sweden

In [119]:
def convert(celsius):
 fah = 1.8 * celsius + 32
 print("Temperature in Fahrenheit =", fah)
convert(20)

Temperature in Fahrenheit = 68.0